body {
    /*background-color: rgb(134, 171, 165);*/
}

h2 {
    text-align: center;
}

#leftContent {
    width: 50%;
    padding: 0;
    margin: 0;
    float: left;
}

#rightContent {
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    float: right;
}

#imageContainer {
    width: 400px;
    height: 400px;
    position: relative;
    left: 50%;
    margin-left: -200px;
    /*background-color: seashell;*/
    overflow: hidden;

}

#imagePre {
    border: 0;
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
}

#bottomContainer {
    width: 400px;
    height: 80px;
    position: relative;
    left: 50%;
    padding: 0;
    margin-top: 20px;
    margin-left: -200px;
    padding-top: 20px;
    text-align: center;
}

.select_pos{
    width: 30%;
    right: 15px;
    float: right;
    top: 0px;
    position: absolute;
}